<!doctype html>
<html>

<head>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.12/clipboard.min.js"></script>
  <script src="https://code.jquery.com/jquery.js"></script>

  <link rel="stylesheet" href="/static/reset.css">
  <link rel="stylesheet" href="/static/base.css">
  
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon-paw.ico') }}">

  {% block head %}
      <!-- put extra CSS/JS here -->
  {% endblock %}

</head>

<body>

    <div class='nav'>
      <a href='/' class='nav-brand'>catURL</a>
    </div>
      
    {% block content %} 
      put your content here 
    {% endblock %}


</body>

</html>