<!doctype html>
<html>

<head>

<!-- jquery -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.css">
  <script src="https://code.jquery.com/jquery.js"></script>
  <link rel="stylesheet" href="/static/reset.css">
  <link rel="stylesheet" href="/static/base.css">

  {% block head %}
      <!-- put extra CSS/JS here -->
  {% endblock %}

</head>

<body>

    <!-- Brand and toggle get grouped for better mobile display -->
    <div class='nav'>
      <a href='/' class='nav-brand'>CatMangler</a>
    </div>
      
    {% block content %} 
      put your content here 
    {% endblock %}

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.js"></script>


</body>

</html>