
{% extends 'base.html' %}

{% block head %}
    <title>Home</title>

{% endblock %}

{% block content %}

    <div class='guts'>
        <div class='message'>
            <h3>insert url for mangling: </h3>
                <form id='encoder' method='POST'>
                    <div class='submit-encoder'>
                      <input type='text' id='notes' class='encode-text' placeholder='Paste your url here.' name='original_url'>
                      <input type='submit' class='btn'>
                    </div>
                </form> 
        </div>
    </div>

    <div class='display'>
        some text here
    </div>

    <script src="/static/homepage.js"></script>
{% endblock %}